name: Build and Release Flutter App

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app # 將工作目錄設定為 app 資料夾

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install App Dependencies
        run: flutter pub get

      - name: Run App Tests
        run: flutter test

      - name: Build Android App Bundle (AAB)
        run: flutter build appbundle --release --dart-define=DEPLOY_TAG=${{ github.ref_name }}

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "app/build/app/outputs/bundle/release/*.aab"
          tag: ${{ github.ref_name }}
          generateReleaseNotes: true
          token: ${{ secrets.GITHUB_TOKEN }}
